Tutorial  Floating-Point Binary.pdf
Geometria Proyectiva1.pdf
GP_Cpp_Ejercicio01/.vs/
GP_Cpp_Ejercicio01/GP_Cpp_Ejercicio01/x64/
GP_Cpp_Ejercicio01/src/main.cpp~RF43ed1c4.TMP
GP_Cpp_Ejercicio01.zip
.vs/
